body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  background: rgba(0,0,0,0.7);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px cyan;
}

h1 {
  text-align: center;
  color: cyan;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
}

button {
  padding: 10px;
  background: cyan;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: lime;
}

pre {
  background: #111;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}
